h3{
    font-family: 'Noto Sans JP';
    font-weight: 700;
    font-size: 2rem;
    line-height: 46px;
    text-align: center;
    color: #fff;
    background: #462703e6;
    margin-bottom: 4rem;
}

.profile { 
    display: flex;
    width: 70%;
    height: auto;
    margin: auto;
    background: #fff7eb;
    padding: 2rem;
        
}
  
.profile_img {
    display: flex;
    width: 40%;
    height: auto;
    border-radius:0%;
}
  
.profile_name {
    font-weight:bold;
    font-size:1.2rem;
    letter-spacing:.1rem;
    margin: 1% 0 0 5%;

    width: 20%;
}

.btn{
    width: 25%;
    height: 3%;
    background: #80501ae6;
    margin: 0 0 0 auto;
    padding: 2%;

  }
  
.profile_desc {
    line-height:1.6rem;
  }

.projectinfo {
  width: 80%;
  height: auto;
  background: rgba(255, 246, 233, 0.968);
  border-radius: 5px;
  padding: 2px 10px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
}

a.project-list {
 display: flex;
 color: #462703e6;
 padding: 10px;
}

/* 3. 枠線内をクリックすると販売元に飛ぶ */
a.project-list :hover{
 text-decoration:none;
 color: #B19956;
}

/*サムネイル画像 */
.project-img {
  display: flex;
  width: 400px;  
  height: auto;
  margin: 3%;
  align-items: center;
}

/*各項目名 */
.project-name h1, h2, h4, h6 {
  font-size: 12px;
  font-weight: bold;
}

.project-name h5{
  font-size: 10px;
  font-weight: bold;
  margin: auto;
  padding-top: 3%;    
}

.project-transition{
  display: flex;
  width: 100%;
  background-color: #fff;
  align-items: center;

}

.project-name-info{
  font-size: 10px;
  padding-right: 3%;
}

